# -*- mode: gitignore; -*-

*~
.\#*
\#*\#
.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.rel
*_archive
*_flymake.*
ac-comphist.dat
.mc-lists.el
.org-id-locations
/.mc-lists.el
/nrepl-history
/el-get
/elpa
/backups
/auto-save-list
/smex-items
/.places
/ido.last
/eshell/
/auto/
/tmp/*
/tramp
/etc/emacs-custom.el
/etc/nrepl-history.eld
/etc/projectile-bookmarks.eld
/projectile-bookmarks.eld
/projectile.cache
/flycheck_init.el
/url/
/etc/cider-history.dat
/.cask/
